
<header > 
	{{name}}
	红云榜招聘系统
</header>
<ul class='navs'>
    <li>
        <a ui-sref="main.message"">
            <div>
                <p>HR中心</p>
            </div>
        </a>
    </li>
	<li>
        <a ui-sref="main.project"">
            <div>
                <p>空中宣讲</p>
            </div>
        </a>
    </li>
    
    <li>
        <a ui-sref="main.job"">
            <div>
                <p>职位管理</p>
            </div>
        </a>
    </li>
    <li>
        <a ui-sref="main.talents"">
            <div>
                <p>简历管理</p>
            </div>
        </a>
    </li>
    <li>
        <a ui-sref="main.write"">
            <div>
                <p>笔试中心</p>
            </div>
        </a>
    </li>
    <li>
        <a ui-sref="main.view"">
            <div>
                <p>面试中心</p>
            </div>
        </a>
    </li>
    
    <li>
        <a ui-sref="main.admin"">
            <div>
                <p>录用中心</p>
            </div>
        </a>
    </li>
</ul>

<div ui-view ></div>