


<div class='login_page1' ng-controller='register'>
	<hello>
		<div class='all_message'>	
			<div class='register_pop' >
				<form action="" class='form-control'>
					<div class="user_group">
						<label for="user_name">用户账号</label>
						<input type="text" 
							   placeholder="6-16位数字字母"  
							   ng-model='register.user_name'
							   ng-class=" borderColor ? 'red' : 'color' "
							   ng-focus='registerFocus()'
							   >	   
						<span class="danger tip">{{nameError}}</span>
					</div>
					<div class="password_group">
						<label for="password">密码</label>
						<input type="password" 
							   placeholder="8-16位数字字母"
							   ng-class=" passColor ? 'red' : 'color' "
							   ng-model='register.passwd'
							   ng-focus='registerPassFocus()'
							   />
						<span class="danger tip">{{passE}}</span>
					</div>
					<div class="validate_group">
						<label for="validate">验证码</label>
						<input type="text" 
							   placeholder="请输入验证码" 
							   id='validate' 
							   class="validate" 
							   ng-model='register.kaptcha'
							   ng-class=" kaptchaColor ? 'red' : 'color' "	
							   ng-focus='registerKaptchaFocus()'
							   />
						<img ng-src="data:image/jpg;base64,{{imgSrc}}" class='kaptchaImage' ng-click='imageClick()' id='chache'/>
						<span class="danger tip">{{kaptchaError}}</span>
					</div>
					<a href="javascript:;"  class="sure_btn" ng-click="successClick()">确定</a>
				</form>
			 </div>
		</div>
	</hello>

</div>

      