


<div  ng-controller='forget'>
	<forget>
	</forget>
	<div class='person'>
	    <div class="step_group">
	    	<div class="step_one">
	    		<span class="step_one_blue"></span>
	    		<p class="circle"></p>
	    		<p class="line gray_line"></p>
	    		<h3>输入注册手机号码</h3>
	    	</div>
	    	<div class="step_two">
	    		<span class="step_two_gray"></span>
	    		<p class="circle gray_circle"></p>
	    		<p class="line gray_line"></p>
	    		<h3 class="gray_h3">短信验证</h3>
	    	</div>
	    	<div class="step_three">
	    		<span class="step_three_gray"></span>
	    		<p class="circle gray_circle"></p>
	    		<h3 class="gray_h3">重置密码</h3>
	    	</div>
	    </div>
		<form action="" class='form-control'>
			<div class="forget_phone">
				<input type="text" placeholder="请输入注册手机号" id='user_name' class="user_name" 
					   ng-model='phoneCode.mobile'
					   	ng-focus='forgetMobile()'
					   	ng-class="forgetM ? 'red' : 'color' "
					  />
				<span class="tip">{{mobile}}</span>
			</div>
			<div class="forget_vali">
				<input type="text" placeholder="请输入验证码" id='validate' class="validate" 
					ng-model='phoneCode.kaptcha'
					ng-focus='forgetKaptcha()'
					ng-class="forgetK ? 'red' : 'color' "
					/>
				<img ng-src="data:image/jpg;base64,{{imgSrc}}" id='chache' ng-click='phoneNumClick()' class="code"/>
				<span class="tip">{{kaptcha}}</span>
			</div>
			<a href="javascript:;"  class="next_btn"  ng-click='go("forgetNext")'>下一步</a>
		</form>
	</div>	
</div>