

<hello ng-controller='postCode'>
	<div class='person'>
	    <div class="step_group">
	    	<div class="step_one">
	    		<span class="step_one_blue"></span>
	    		<p class="circle"></p>
	    		<p class="line"></p>
	    		<h3>输入注册手机号码</h3>
	    	</div>
	    	<div class="step_two">
	    		<span class="step_two_blue"></span>
	    		<p class="circle"></p>
	    		<p class="line"></p>
	    		<h3>短信验证</h3>
	    	</div>
	    	<div class="step_three">
	    		<span class="step_three_blue"></span>
	    		<p class="circle"></p>
	    		<h3>重置密码</h3>
	    	</div>
	    </div>
		<form action="" class='form-control' ng-controller='postCode'>
			<div class="forget_pass">
				<input type="text" 
					   placeholder="请输入密码" 
					   id='pass' 
					   class="pass" 
					   ng-class="color ? 'red' : 'color' "
					   ng-focus='forget3()'
					   ng-model='passwd'>
				<span class="tip">{{passError}}</span>
			</div>
			<a href="javascript:;"  class="next_btn"   ng-click='forgetClick()'>完成</a>
		</form>
	</div>	
</hello>